/* * {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#selectedColor{
    position: absolute;
    top: 11px;
    left: 485px;
    padding: 5px;
    margin: 0px;
    border: 2px solid black;
    width: 10px;
    height: 10px;
    border-radius: 25%;
}

#button-box{
    width: 100px;
    position: absolute;
    top: 0px;
    padding: 10px;
}

.colorButton {
    width: 50px;
    height: 30px;
    font-size: 12px;
    text-transform: capitalize;
    background-color: white;
    padding: 0px; margin: 0px;
}

#blue {
    background: blue;
    color: white;
 
}

#red {
    background: red;
    color: white;
 
}

#yellow {
    background: yellow;
    color: black;
 
}

#green {
    background: green;
    color: white;
}


#purple {
    background: purple;
    color: white;
}
#brown {
    background: brown;
    color: white;
}
#black {
    background: black;
    color: white;
}

#white {
    background: white;
    color: black;
}

#canvas {
  border: 2px solid black;
  padding: 0px;
}

.blueSelect{
    background-color: blue;
    color: white;
}

.redSelect{
    background-color: red;
    color: white;
}

.yellowSelect{
    background-color: yellow;
    color: white;
}

.greenSelect{
    background-color: green;
    color: white;
}

.purpleSelect{
    background-color: purple;
    color: white;
}


.brownSelect{
    background-color: brown;
    color: white;
}


.blackSelect{
    background-color: black;
    color: white;
}


.whiteSelect{
    background-color: white;
    color: black;
}