/* * {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#button-box{
    width: 100px;
    position: absolute;
    top: 0px;
    padding: 10px;
}

button {
    width: 50px;
    height: 30px;
    font-size: 12px;
    text-transform: capitalize;
    background-color: white;
    padding: 0px; margin: 0px;
}

#blue {
    background: blue;
    color: white;
 
}

#red {
    background: red;
    color: white;
 
}

#yellow {
    background: yellow;
    color: black;
 
}

#green {
    background: green;
    color: white;
}


#purple {
    background: purple;
    color: white;
}
#brown {
    background: brown;
    color: white;
}
#black {
    background: black;
    color: white;
}

#white {
    background: white;
    color: black;
}

#canvas {
  border: 2px solid black;
  padding: 0px;
}
